.projects {
  max-width: var(--page-max-width);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.projects p:not(:last-child):not(:has(a)) {
  margin-bottom: 1rem;
}

@media (max-width: 640px) {
}
